#Inspiration{
    width:100%;
    height: 800px;
    background-color: blanchedalmond;
    
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin:8px auto;
}
body{
    text-align: center;
    
}
#Pictures{
    width:100%;
    height: 500px;
    background-color: blanchedalmond;
}
img{
    transition: transform.2s;
    
}
img:hover{
    transform: scale(0.9);
    
}
#chatbot{
    width:100%;
    height: 800px;
    background-color: blanchedalmond;
}
